
#tracker_wrapper.well.span2
 #player
  .icons
   .play_border
    .play-icon
   .play_border
    .stop-icon
  %div.progress.progress-striped.active#progress_loading
   %div.bar{:style => "width : 0%"}

 %h4 Tracker Option


 -if user_signed_in?
  %label{:id => 'current_surah_label'}
   =@form_player_option.sourates_list.key @form_player_option.surah_id.to_i
  #progress_current_surah.progress.progress-success.progress-striped
   %div.bar{:style => "width : #{current_user.ayahs_knowns_per_surah @form_player_option.surah_id}%"}
