#alert_user_surah.alert.span9.offset2
  %button.close{'data-dismiss'=>'alert', :type => 'button'} &times;
  Welcome to <strong>Become A Hafiz</strong> ! You have the possibilities to save the ayahs that you know.
  For this, you have to #{link_to 'suscribe', new_user_registration_path} or #{link_to 'connect', new_user_session_path}, and click on a ayah to show differents options.