.page-header
  %h1= 'Welcome to Become Hafiz !'

#surah_container{:class => 'row-fluid'}

  #surah_option_wrapper.span2.well.navbar.navbar-fixed-top

    %span#lecteur_play Play
    %span.hide.aa test
    %i{:class => "icon-play"}
    =form_tag('/surahs', :method => 'post', :multipart => true, :id => 'lstSurahsFrm') do
      %label
        Surahs
      =select_tag 'lstSurahs', options_for_select(@sourates_list.collect {|surah_id, surah_name|[surah_name,surah_id] }, @surah_id),:class =>"input-medium"
      %label
        Recitators
      =select_tag 'lstRecitators', options_for_select(@mapRecitators.collect {|recitator_name, recitator_value|[recitator_value,recitator_name] },@recitator_name),:class =>"input-medium"
      %label
        From versets
      =select_tag 'lstFromVersets', options_for_select(1..@from_verset_maximum["max"],@from_verset_minimum),:class =>"input-small"
      %label
        To versets
      =select_tag 'lstToVersets', options_for_select(1..@from_verset_maximum["max"],@from_verset_maximum["max_selected"]),:class =>"input-small"
      %input{:type=>"hidden", :value=>0, :id =>"lstToVersetsCheck" , :name=>"lstToVersetsCheck"}
      %p Loading
      %div.progress.progress-striped.active
        %div.bar{:style => "width : 0%"}
  %div.well.span10{:style => "float: right"}
    %p='The Messenger of Allah (blessings of Allah be upon him and his family) has said: “The best of those amongst you is the one who learns the Qur’an and then teaches it to others.”'
  #surah_wrapper{:class => 'span10'}

    -i = @from_verset_minimum.to_i
    -@versets.each do |verset|
      %span{:class => 'verset', 'modal_name'=>'myModal'}=verset.ayahText
      %span{:class => 'break'} (#{i})
      -i = i + 1

