.page-header
  %h1= "Welcome to Bechome Hafiz !"

#surah_container{:class => "row"}
  #surah_option_wrapper{:class => "span3"}
    /=link_to "Play" ,@surah_mp3.url_for(:read, :secure => true).to_s, :class => "html5", :id => "lecteur_play"
    %span#lecteur_play adel
    =form_tag("/surahs", :method => "post", :multipart => true, :id => "lstSurahsFrm") do
      %label
        Surahs
      =select_tag "lstSurahs", options_for_select(@sourates_list.collect {|surah_id, surah_name|[surah_name,surah_id] }, @surah_id)
      %label
        Recitators
      =select_tag "lstRecitators", options_for_select(@mapRecitators.collect {|recitator_name, recitator_value|[recitator_value,recitator_name] },@recitator_name)

  #surah_wrapper{:class => "span9"}
    -i = 1
    -@versets.each do |verset|
      %span{:class => "verset"}=verset.ayahText
      %span{:class => "break"}  (#{i})
      -i = i + 1

