#surah_container{

}

#surah_container .verset{
    cursor: default;
}

#surah_wrapper{
    direction: rtl;
    font-size: 50px;
    line-height: 200%;
    font-family: "Lateef",PDMS_IslamicFont, _PDMS_IslamicFont, Tahoma, Arial;
    float: right;
}

#lecteur_play:hover
{
    color: red;
    cursor: pointer;
}

.ayah_playing
{
    background-color: rgb(196, 236, 189);
    -moz-border-radius:10px 0;
    -webkit-border-radius:10px 0;
    border-radius:10px 0;
}

.verset {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-left: 10px;
    padding-right: 10px;
    color: #393939;
}

.verset:hover
{
    text-decoration: none;
    color: inherit;
    background-color: #b0f0ff;
    cursor: pointer;
    -moz-border-radius: 10px 0;
    -webkit-border-radius: 10px 0;
}

.verset:active
{
    border: none !important;
    color: pink;
}

.verset:visited
{
    border: none !important ;
}



#surah_option_wrapper
{
    padding: 10px;
    top: 140px;
    left: 20px;
}